HELP.md
target/
.mvn/wrapper/maven-wrapper.jar

# exclude target folders in all submodules
!**/src/main/**/target/
!**/src/test/**/target/

### Logs ###
*.log
logs/
log/

### OS files ###
.DS_Store
Thumbs.db

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Other ###
/.gradle

docker/.env
